
.new-information-button {
  margin: 4px 0;
}

.information-tabel-content{
  margin-top: 24px;
}

.input-block {
  // text-align: center;
  position: relative;
  padding: 0 70px;

  .input-block-item {
    position: relative;
    display: flex;
    margin: 20px;

    .user-name::before{
      content: '*';
      color: red;
      vertical-align: middle;
      margin-right: 3px;
    }

    .input-text {
      margin-right: 20px;
    }

    .ant-select{
      width: 200px;
      height: 26px !important;
      position: absolute;
      right: 0;
      padding: 0;
      box-sizing: border-box;
    }

    .ant-input {
      width: 200px;
      height: 26px;
      position: absolute;
      right: 0;
      padding: 0;
    }
  }
}